.cartao-de-credito {
    height: 100vh;
    padding-top: 100px;
    background-color: var(--branco);
    display: flex;
    align-items: center;
}

.cartao-de-credito-texto {
    width: 80%;
    margin-bottom: 250px;
}
.cartao-link {
    color: var(--roxo);
    text-decoration: none;
    font-size: 32px;
    font-weight: bold;
}

.cartao-link:hover {
    text-decoration: underline;
}

.texto-explicativo {
    /* font-family: Graphik-Medium, Graphik-Regular, "Gotham SSm A", "Gotham SSm B", "Helvetica Neue", Helvetica, Arial, sans-serif; */
    font-size: 3em;
    font-weight: bold;
    margin: 20px 0 ;
}

.saiba-mais {
    color: var(--roxo);
    font-size: 20px;
    text-decoration: none;
}

.saiba-mais:hover {
    text-decoration: underline;
}

.imagem-de-cartoes {
    width: 400px;
    height: 400px;
    position: absolute;
    top: 2%;
    left: 60px;
}
/* ______________________________ */

@media screen and (max-width: 750px) {
    .cartao-de-credito {
        height: 100vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .cartao-de-credito-texto {
        width: 95%;
        margin-bottom: 250px;
    }
    .cartao-de-credito-texto {
        width: 100%;
        height: 60vh;
        padding: 0 20px;
    }
    .cartao-link {
        width: 100%;
        color: var(--roxo);
        text-decoration: none;
        font-size: 1.5rem;
        font-weight: bold;
    }
    .texto-explicativo {
        width: 100%;
        /* font-family: Graphik-Medium, Graphik-Regular, "Gotham SSm A", "Gotham SSm B", "Helvetica Neue", Helvetica, Arial, sans-serif; */
        font-size: 1.875rem;
        font-weight: bold;
    }

    .imagem-de-cartoes {
        width: 350px;
        height: 285px;
        position: absolute;
        top: -250px;
        left: 0;
    }
}